.section--about {
    @media (max-width: 767px) {
        padding-top: 70px;
    }

    .inner-content {
        @media (min-width: 768px) {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            flex-wrap: wrap;
            max-width: 1500px;
        }
    }

    .block--header {
        flex: 1 0 100%;
        h2 {
            margin-bottom: 0.5em;
            text-align: center;
            font-size: 7vw;

            @media (min-width: 768px) {
                font-size: 4vw;
            }

            @media (min-width: 1440px) {
                font-size: 58px;
            }
        }
    }

    .block--about,
    .block--work-history {
        padding: 1em;
        @media (min-width: 768px) {
            flex: 1 0 50%;
            max-width: 50%;
        }
    }

    .block--about {
        text-align: center;
        // margin-bottom: 4em;

        @media (min-width: 768px) {
            text-align: right;
            // margin-bottom: 0;
        }

        p + p,
        button + p {
            margin-top: 1em;
        }

        .about--headline {
            font-size: 1.2em;
            font-family: $headline-font;
            font-weight: bold;
        }

        span {
            font-family: $headline-font;
            font-weight: bold;
        }
    }

    .about {
        &__cta {
            appearance: none;
            border-radius: 0;
            background: transparent;
            margin-top: 1em;
            display: inline-block;
            padding: 0.5em 1em;
            border: 2px solid $light_black;
            font-size: 1.2em;
            cursor: pointer;
            color: $light_black;
            position: relative;
            transition: color 0.3s ease-in-out;
            // overflow: hidden;

            &:before {
                position: absolute;
                bottom: -1px;
                left: -1px;
                right: -1px;
                top: 101%;
                background-color: $light_black;
                transition: top 0.3s ease-in-out;
                content: "";
                z-index: -1;
            }

            &:hover {
                color: #fff;

                &:before {
                    top: -1%;
                }
            }
        }
    }
}
