.section--introduction {
    h1 {
        margin: 0;
        font-size: 7vw;

        @media (min-width: 1440px) {
            font-size: 100px;
        }
    }

    .introduction {
        &__cta {
            margin-top: 1em;
            display: inline-block;
            padding: 0.5em 1em;
            border: 2px solid $light_black;
            font-size: 1.2em;
            cursor: pointer;
            color: $light_black;
            position: relative;
            transition: color 0.3s ease-in-out;

            &:before {
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                top: 100%;
                background-color: $light_black;
                transition: top 0.3s ease-in-out;
                content: "";
                z-index: -1;
            }

            &:hover {
                color: #fff;

                &:before {
                    top: 0%;
                }
            }
        }
    }
}
