.section--introduction {
    // h1,
    // p {
    h1 {
        margin: 0;
    }

    .block {
        // position: absolute;
        // top: 50%;
        // padding: 0 1em;
        // overflow: hidden;

        &--header {
            // transform: translateY(-50%);
            // width: 66%;
            // left: 15%;

            h1 {
                font-size: 7vw;

                @media (min-width: 1440px) {
                    font-size: 100px;
                }
            }
        }

        // &--preamble {
        //     transform: translateY(-50%);
        //     width: 33%;
        //     left: 0;

        //     p {
        //         font-size: 1.8vw;
        //         transform: translate3d(0, 100%, 0);
        //         text-align: center;
        //     }
        // }
    }
}
