.section--introduction {
    h1 {
        margin: 0;

        font-size: 8vw;

        @media (min-width: 768px) {
            font-size: 6vw;
        }

        @media (min-width: 1440px) {
            font-size: 86px;
        }
    }

    .introduction {
        &__cta {
            appearance: none;
            border-radius: 0;
            background: transparent;
            margin-top: 1em;
            display: inline-block;
            padding: 0.5em 1em;
            border: 2px solid $white;
            font-size: 1.2em;
            cursor: pointer;
            color: $white;
            position: relative;
            transition: color 0.3s ease-in-out;
            max-width: 220px;
            user-select: none;
            // overflow: hidden;

            &:before {
                position: absolute;
                bottom: -1px;
                left: -1px;
                right: -1px;
                top: 101%;
                background-color: $white;
                transition: top 0.3s ease-in-out;
                content: "";
                z-index: -1;
            }

            &:hover {
                color: $light_black;

                &:before {
                    top: -1%;
                }
            }
        }
    }

    .block--header {

        > div + div {
            margin-top: 3em;

            @media (min-width: 768px) {
                margin-top: 0;
                margin-left: 4vw;
            }

            @media (min-width: 1440px) {
                margin-left: 6em;
            }
        }

        @media (max-width: 767px) {
            transform: translate3d(0, -50px, 0);
        }

        @media (min-width: 768px) {
            display: flex;

            > div:first-of-type {
                display: flex;
                align-items: center;

                > div {
                    transform: translate3d(0,-28px,0);
                }
            }
        }
    }
}
