.section--projects {
    // background-image: url(https://www.transparenttextures.com/patterns/stardust.png),
    //     linear-gradient(to top, #094c72 0%, #01293f);
    // background-size: 60%, cover;
    // background-repeat: repeat, no-repeat;

    overflow: hidden;

    .inner-section {
        overflow: hidden;
        position: absolute;
        top: 50%;
        bottom: auto;
        left: 50%;
        right: auto;
        height: 80vh;
        width: 100%;
        max-width: 1200px;
        transform: translate3d(-50%, -50%, 0);
    }

    .inner-content {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
    }

    .custom-scroller {
        position: absolute;
        left: 50%;
        top: 90%;
        transform: translateX(-50%);
        width: 50px;
        height: 2px;
        background-color: #000;

        &__thumb {
            width: 15px;
            height: 15px;
            position: absolute;
            top: 50%;
            left: 0;
            background-color: #fe4066;
            transform: translateY(-50%) translateX(-50%);
            border-radius: 50%;
        }
    }
}
