.section {
    position: relative;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;

    @media (min-width: 768px) {
        padding: 2em;
    }

    > * {
        max-width: 100%;
        max-height: 100%;
    }
}
