$app_transition_timing: 1.2s;

#app {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;

    &:after {
        background-color: $light-black;
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        content: "";
        transition: right $app_transition_timing ease-in-out;
        z-index: 1;
    }

    &.is-loading {
        &:after {
            right: 100%;
        }
    }
    &.is-loaded {
        overflow-y: scroll;
        &:after {
            display: none;
        }
    }
}
