html,
body {
    width: 100%;
    min-height: 100%;
}

body {
    &,
    & * {
        &,
        &:after,
        &:before {
            box-sizing: border-box;
        }

        text-rendering: optimizeLegibility;
        margin: 0;
        padding: 0;
        color: $light-black;
        font-size: 1rem;
    }

    font-family: $body-font;
    overflow: hidden;

    a {
        font-size: 1em;
        &,
        &:focus,
        &:active,
        &:hover {
            color: currentColor;
            text-decoration: none;
        }
    }

    span {
        color: currentColor;
        font-size: inherit;
        line-height: inherit;
    }

    ul {
        list-style: none;
    }
}
/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: $off-white;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #111;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
