html,
body {
    width: 100%;
    min-height: 100%;
}

body {
    &,
    & * {
        &,
        &:after,
        &:before {
            box-sizing: border-box;
            -webkit-font-smoothing: antialiased;
        }

        text-rendering: optimizeLegibility;
        margin: 0;
        padding: 0;
        color: $white;
        font-size: 1rem;
    }

    &.body-fix {
        height: 100vw;
        overflow-y: hidden;
        padding-right: 5px;
    }

    font-family: $body-font;
    // overflow: hidden;
    max-width: 100%;
    background-color: $light_black;

    a {
        font-size: 1em;
        &,
        &:focus,
        &:active,
        &:hover {
            color: currentColor;
            text-decoration: none;
        }
    }

    span {
        color: currentColor;
        font-size: inherit;
        line-height: inherit;
    }

    ul {
        list-style: none;
    }

    * {
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        -moz-tap-highlight-color: rgba(0, 0, 0, 0);
    }
}
/* width */
::-webkit-scrollbar {
    width: 5px;
    height: 2px;
}

/* Track */
::-webkit-scrollbar-track {
    background: $light_black;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: $white;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
