$text_position_timing: 0.7s;
$position_timing_delay: 0.7s;

.container--home {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    min-height: 0;
    text-align: left;

    h1,
    p {
        .app--black-white & {
            color: #111;
        }
        overflow: hidden;

        span {
            display: inline-block;
            transform: translateY(100%);
        }
    }

    h1 {
        font-size: 8vw;
        line-height: 1;

        @media (max-height: 800px) {
            font-size: 6vw;
        }
        @media (min-width: 1440px) {
            font-size: 80px;
        }

        @media (min-width: 1440px) and (min-height: 801px) {
            font-size: 115px;
        }

        span {
            .is-loaded & {
                transform: translateY(0);
            }
            transition: transform 0.9s ease-in-out;
        }
    }

    p {
        // margin-top: 1em;
        font-size: 2vw;
        text-align: center;

        @media (max-height: 800px) {
            font-size: 1.5vw;
        }
        @media (min-width: 1440px) {
            font-size: 20px;
        }

        @media (min-width: 1440px) and (min-height: 801px) {
            font-size: 29px;
        }

        span {
            transition: transform $text_position_timing
                cubic-bezier(0.76, 0, 0.24, 1);
            .show-preamble &,
            .sideline-intro & {
                transition: transform $text_position_timing 0.6s
                    cubic-bezier(0.76, 0, 0.24, 1);
                transform: translateY(0);
            }
        }
    }

    .block {
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 50%;
        pointer-events: none;

        &--header {
            left: 33%;
            width: 67%;
            transform: translate3d(-33%, -50%, 0);

            transition: transform 0.9s 0.6s cubic-bezier(0.76, 0, 0.24, 1);
            .move-headline & {
                transition: transform 0.9s cubic-bezier(0.76, 0, 0.24, 1);
                transform: translate3d(0, -50%, 0);
            }
            .sideline-intro & {
                transition: transform 0.9s cubic-bezier(0.76, 0, 0.24, 1);
                transform: translate3d(100vw, -50%, 0);
            }
        }

        &--preamble {
            left: 0%;
            width: 33%;
            transform: translate3d(0, -50%, 0);
            transition: transform 0.9s cubic-bezier(0.76, 0, 0.24, 1);

            .sideline-intro & {
                transform: translate3d(100vw, -50%, 0);
            }
        }
    }
}
