<div class="section section--projects">
    <div class="inner-section inner-scrollable">
        <div class="inner-content">
            <p>
                content content content content content content content content
                content content content content content content content content
                content content content content content content content content
                content content content content content content content content
                content content content content content content content content
                content content content content content content content content
                content content content content content content content content
                content content content content content content content content
                content content content content content content content content
                content content content content content content content content
                content content content content content content content content
                content content content content content content content content
                content content content content content content content content
                content content content content content content content content
                content content content content content content content content
                content content content content content content content content
            </p>
        </div>
    </div>
    <div class="custom-scroller">
        <div class="custom-scroller__thumb"></div>
    </div>
</div>
