<div class="section section--about" id="about">
    <div class="inner-content">
        <div class="block block--about">
            <h2>About.</h2>
            <p>Lorem ipsum</p>
        </div>
        <div class="block block--work-history">
            <ul class="work-history">
                <li class="work-history__item">
                    <h3 class="work-history__company">
                        <img
                            src="#"
                            alt=""
                            class="work-history__company__logo"
                        />
                        Rivendell Europe Ltd
                    </h3>
                    <p class="work-history__role">Front End Developer</p>
                    <p class="work-history__dates">
                        <span class="work-history__dates__start">May 2018</span>
                        to
                        <span class="work-history__dates__end">Present</span>
                    </p>
                    <p class="work-history__description">Lorem ipsum</p>
                </li>
                <li class="work-history__item">
                    <h3 class="work-history__company">
                        Freelancing
                    </h3>
                    <p class="work-history__dates">
                        <span class="work-history__dates__start"
                            >February 2018</span
                        >
                        to
                        <span class="work-history__dates__end">May 2018</span>
                    </p>
                    <p class="work-history__description">Lorem ipsum</p>
                </li>
                <li class="work-history__item">
                    <h3 class="work-history__company">
                        <img
                            src="#"
                            alt=""
                            class="work-history__company__logo"
                        />
                        Web Best Practice Ltd
                    </h3>
                    <p class="work-history__role">Junior Web Developer</p>
                    <p class="work-history__dates">
                        <span class="work-history__dates__start"
                            >April 2017</span
                        >
                        to
                        <span class="work-history__dates__end"
                            >February 2018</span
                        >
                    </p>
                    <p class="work-history__description">Lorem ipsum</p>
                </li>
            </ul>
        </div>
    </div>
</div>
