<div class="section section--about">
    <div class="inner-content">
        <div class="block block--header">
            <h2>About.</h2>
        </div>
        <div class="block block--work-history">
            <ul class="work-history">
                <li class="work-history__item">
                    <h3 class="work-history__company">
                        <img
                            src="#"
                            alt=""
                            class="work-history__company__logo"
                        />
                        Web Best Practice Ltd
                    </h3>
                    <p class="work-history__dates">
                        <span class="work-history__dates__start"></span> to
                        <span class="work-history__dates__end"></span>
                    </p>
                    <p class="work-history__description">Lorem ipsum</p>
                </li>
                <li class="work-history__item">
                    <h3 class="work-history__company">
                        Freelancing
                    </h3>
                    <p class="work-history__dates">
                        <span class="work-history__dates__start"></span> to
                        <span class="work-history__dates__end"></span>
                    </p>
                    <p class="work-history__description">Lorem ipsum</p>
                </li>
                <li class="work-history__item">
                    <h3 class="work-history__company">
                        <img
                            src="#"
                            alt=""
                            class="work-history__company__logo"
                        />
                        Rivendell Europe Ltd
                    </h3>
                    <p class="work-history__dates">
                        <span class="work-history__dates__start"></span> to
                        <span class="work-history__dates__end"></span>
                    </p>
                    <p class="work-history__description">Lorem ipsum</p>
                </li>
            </ul>
        </div>
    </div>
</div>