<div class="section section--introduction" id="introduction">
    <div class="inner-content">
        <div class="block block--header">
            <h1 class="headline">
                Hi!
                <br />I'm Markus <br />Alexander Holden.
            </h1>
        </div>
        <!-- <div class="block block--preamble">
            <p class="preamble">
                A Manchester based Frontend Developer focused on writing elegant
                code and making beautiful and responsive websites.
            </p>
        </div> -->
    </div>
</div>
