.logo {
    $logo: &;

    appearance: none;
    background-color: transparent;
    border: none;
    border-radius: 0;
    cursor: pointer;

    &:active,
    &:focus {
        border: 0;
        outline: 0;
    }

    width: 80px;
    height: 50px;
    position: relative;
    display: block;
    padding: 5px;
    text-decoration: none;
    // height: 100%;

    @media (min-width: 768px) {
        width: 80px;
    }

    @media (min-width: 1440px) {
        width: 110px;
    }

    &__content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        display: block;
        width: 100%;
        height: auto;
        margin: 0 auto;
        white-space: nowrap;
        // color: $black;
        color: $white;
        font-family: $headline-font;

        // @media (min-width: 768px) {
        // }

        &--icon {
            font-size: 17px;
            opacity: 1;
            transition: opacity 0.3s 0.2s ease-in;

            #{$logo}:hover & {
                opacity: 0;
                transition: opacity 0.3s 0s ease-out;
            }

            @media (min-width: 1440px) {
                font-size: 20px;
            }
        }

        &--text {
            opacity: 0;
            transition: opacity 0.3s 0s ease-in;

            #{$logo}:hover & {
                opacity: 1;
                transition: opacity 0.3s 0.2s ease-out;
            }
        }
    }
}
