.project__tag-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1em;
    justify-content: center;

    &__item {
        padding: 0.2em 0.5em;
        border-radius: 3em;
        text-align: center;
        line-height: 1;
        user-select: none;
        color: #fe4066;
        transition: background-color 0.35s, color 0.35s, border-color 0.35s;
        cursor: default;
        border: 2px solid #fe4066;
        font-weight: 600;
        margin-bottom: 0.5em;

        &:hover {
            color: #fff;
            background-color: #fe4066;
        }

        & + .project__tag-list__item {
            margin-left: 1em;
        }

        p {
            color: currentColor;
        }
    }
}
