.projects-list {
    $projects_list: &;

    &__outer {
        overflow-x: scroll;
        padding: 2em 0;

        // &::-webkit-scrollbar {
        //     display: none;
        // }
    }

    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding-right: 2em;

    &__item {
        padding: 0 1em;

        @media (min-width: 1024px) {
            padding: 0 1%;
        }
    }
}
