.project-card {
    position: relative;
    padding-top: 100%;
    cursor: pointer;

    @media (min-width: 1320px) {
        padding: 0;
        height: 400px;
    }

    .project-card__content {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 1em;

        h3 {
            user-select: none;
            color: #fff;
        }
    }
}
