.toolbar {
    $toolbar: &;

    text-align: center;
    font-size: 12px;
    z-index: 20;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: $light_black;

    @media (min-width: 768px) {
        transition: transform 0.7s ease-out;
        right: auto;
        top: 0;
    }

    @media (min-width: 768px) and (max-width: 1023px) {
        transform: translateX(-100%);

        &.open-menu {
            transform: translateY(0);
        }
    }

    &__inner {
        height: 100%;
        // background-color: $white;
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        @media (min-width: 768px) {
            flex-direction: column;
            background-color: $light-black;
        }
        @media (min-width: 1440px) {
            padding: 10px 0;
        }
    }

    &__block {
        position: absolute;
        left: 100%;
        right: 100%;
        width: 100%;

        &--btn,
        &--logo {
            position: static;
            width: auto;
        }
        &--btn {
            order: 1;
        }
        &--logo {
            order: 2;

            @media (min-width: 768px) {
                order: 1;
            }
        }

        &--main,
        &--secondary {
            background-color: $light-black;
            @media (min-width: 768px) {
                transition: none;
                top: 0;
            }
            #{$toolbar}.open-menu & {
                left: 0;
            }
        }

        &--main {
            top: -100%;
            transition: left 0.3s 0.1s ease-in;

            #{$toolbar}.open-menu & {
                transition: left 0.4s 0s ease-out;
            }
            @media (min-width: 768px) {
                order: 2;
            }
        }

        &--secondary {
            top: -200%;
            transition: left 0.3s ease-in;

            #{$toolbar}.open-menu & {
                transition: left 0.4s 0.1s ease-out;
            }
            @media (min-width: 768px) {
                order: 3;
            }
        }

        @media (min-width: 768px) {
            position: static;
            top: 0;
            right: 0;
            width: auto;
            left: 0;

            &--btn {
                position: absolute;
                left: 100%;
            }
        }
    }

    &__menu-btn {
        width: 60px;
        cursor: pointer;
        height: 50px;
        position: relative;
        -webkit-appearance: none;
        border: 0;
        border-radius: 0;
        display: block;
        background: none;
        outline: 0;

        @media (min-width: 1024px) {
            display: none;
        }

        span#{$toolbar}__menu-btn--text {
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: 2;
            color: #fff;
            font-size: 0.8em;
            font-weight: bold;
            transform-origin: center center;
            text-transform: uppercase;
            transform: translate(0.5em, -0.5em) rotateZ(-90deg);
            letter-spacing: 0.11em;

            @media (max-width: 767px) {
                display: none;
            }

            @media (min-width: 768px) {
                color: $light_black;
            }
        }

        // &:hover {
        //     span#{$toolbar}__menu-btn--line {
        //         &:nth-of-type(1),
        //         &:nth-of-type(2),
        //         &:nth-of-type(3) {
        //             transition: opacity 0.2s ease-out, transform 0.3s ease-out,
        //                 top 0.3s ease-out;
        //         }
        //         &:nth-of-type(2) {
        //             transform: translateX(-60%);
        //         }
        //         &:nth-of-type(1),
        //         &:nth-of-type(3) {
        //             transform: translateX(-40%);
        //         }
        //     }
        // }

        span#{$toolbar}__menu-btn--line {
            display: block;
            position: absolute;
            height: 2px;
            background-color: #fff;
            width: 25px;
            left: 50%;
            transform: translateX(-50%);

            @media (min-width: 768px) {
                background-color: $light_black;
            }

            &:nth-of-type(1) {
                top: 35%;
                width: 20px;
                transition: transform 0.3s ease-out, top 0.3s ease-out;

                #{$toolbar}.open-menu & {
                    top: 50%;
                    transform: translate3d(-50%, 0, 0) rotate(45deg);
                    transition: transform 0.3s ease-out, top 0.3s ease-out;
                }
            }
            &:nth-of-type(2) {
                transition: transform 0.3s ease-out, top 0.3s ease-out,
                    width 0.3s ease-out;

                #{$toolbar}.open-menu & {
                    width: 20px;
                    transform: translate3d(-50%, 0, 0) rotate(-45deg);
                    transition: transform 0.3s ease-out, top 0.3s ease-out,
                        width 0.3s ease-out;
                }
            }
            &:nth-of-type(3) {
                width: 20px;
                top: 65%;
                opacity: 1;
                transition: opacity 0.2s ease-out, transform 0.3s ease-out,
                    top 0.3s ease-out;

                #{$toolbar}.open-menu & {
                    top: 90%;
                    opacity: 0;
                    transition: opacity 0.2s ease-in, top 0.3s ease-in;
                }
            }
        }
    }
}
