<div class="section section--contact">
    <div class="inner-content">
        <div class="block block--header">
            <h2 class="headline">
                Get in contact
            </h2>
            <p class="block block--preamble"></p>
        </div>
        <div class="block block--form">
            <form class="contact-form">
                <div class="contact-form__row">
                    <div class="contact-form__item">
                        <label>Name</label>
                        <input type="text" />
                    </div>
                    <div class="contact-form__item">
                        <label>Email</label>
                        <input type="email" />
                    </div>
                </div>
                <div class="contact-form__row">
                    <div class="contact-form__item">
                        <label>Subject</label>
                        <input type="text" />
                    </div>
                </div>
                <div class="contact-form__row">
                    <div class="contact-form__item">
                        <label>Message</label>
                        <textarea></textarea>
                    </div>
                </div>
                <div class="contact-form__row">
                    <div class="contact-form__item">
                        <button type="submit">Send</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
