<div class="section section--contact" id="contact">
    <div class="inner-content">
        <div class="block block--contact">
            <p class="preamble">
                Get in contact for more info or to work with me:
            </p>
            <p class="contact-address">
                <a href="mailto:markholden1989@googlemail.com"
                    >markholden1989<wbr />@<wbr />googlemail.com</a
                >
            </p>
            <!-- <p class="block block--preamble"></p> -->
        </div>
    </div>
</div>
