<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
    <!--<![endif]-->
    <head>
        <%= require('html-loader!./partials/head.html') %>
        <title><%= htmlWebpackPlugin.options.title %></title>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">
                You are using an <strong>outdated</strong> browser. Please
                <a href="#">upgrade your browser</a> to improve your experience.
            </p>
        <![endif]-->
        <div class="personal-icon">
            <div class="personal-icon__rotations"></div>
            <div class="personal-icon__frame">
                <img
                    class="personal-icon__img"
                    src="<%= require('./assets/me.jpg').default %>"
                />
            </div>
            <div class="personal-icon__popup">
                <p class="personal-icon__copy">That's me!</p>
            </div>
        </div>

        <div id="app">
            <%= require('html-loader!./partials/introduction/index.html') %> <%=
            require('html-loader!./partials/projects/index.html') %> <%=
            require('html-loader!./partials/about/index.html') %> <%=
            require('html-loader!./partials/contact/index.html') %>
        </div>

        <div class="toolbar">
            <div class="toolbar__inner">
                <div class="toolbar__block toolbar__block--logo">
                    <a href="#" title="Home" class="logo">
                        <span class="logo__content logo__content--icon">M</span>
                        <span class="logo__content logo__content--text"
                            >Markus</span
                        >
                    </a>
                </div>
                <div
                    class="toolbar__block toolbar__block--btn"
                    onClick="(function () {document.querySelector('.toolbar').classList.toggle('open-menu')})();"
                >
                    <button class="toolbar__menu-btn">
                        <span class="toolbar__menu-btn--line"></span>
                        <span class="toolbar__menu-btn--line"></span>
                        <span class="toolbar__menu-btn--line"></span>
                        <span class="toolbar__menu-btn--text">Menu</span>
                    </button>
                </div>
                <div class="toolbar__block toolbar__block--main">
                    <nav class="navigation">
                        <ul class="navigation__list">
                            <li class="navigation__list-item">
                                <a href="#" class="navigation__link">
                                    <img
                                        class="navigation__content navigation__content--icon"
                                        src="<%= require('./assets/home_1391.svg').default %>"
                                        width="20px"
                                    />
                                    <span
                                        class="navigation__content navigation__content--text"
                                        >Home</span
                                    >
                                </a>
                            </li>
                            <li class="navigation__list-item">
                                <a href="#" class="navigation__link">
                                    <img
                                        class="navigation__content navigation__content--icon"
                                        src="<%= require('./assets/desktop_232.svg').default %>"
                                        width="20px"
                                    />
                                    <span
                                        class="navigation__content navigation__content--text"
                                        >Projects</span
                                    >
                                </a>
                            </li>
                            <li class="navigation__list-item">
                                <a href="#" class="navigation__link">
                                    <img
                                        class="navigation__content navigation__content--icon"
                                        src="<%= require('./assets/emoji_happy_518.svg').default %>"
                                        width="20px"
                                    />
                                    <span
                                        class="navigation__content navigation__content--text"
                                        >About</span
                                    >
                                </a>
                            </li>
                            <li class="navigation__list-item">
                                <a href="#" class="navigation__link">
                                    <img
                                        class="navigation__content navigation__content--icon"
                                        src="<%= require('./assets/messages_chat_1557.svg').default %>"
                                        width="20px"
                                    />
                                    <span
                                        class="navigation__content navigation__content--text"
                                        >Contact</span
                                    >
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="toolbar__block toolbar__block--secondary">
                    <nav class="navigation">
                        <ul class="navigation__list">
                            <li class="navigation__list-item">
                                <a
                                    href="https://www.linkedin.com"
                                    class="navigation__link"
                                >
                                    <img
                                        class="navigation__content navigation__content--icon"
                                        src="<%= require('./assets/linkedin_161.svg').default %>"
                                        width="20px"
                                    />
                                    <span
                                        class="navigation__content navigation__content--text"
                                        >LinkedIn</span
                                    >
                                </a>
                            </li>
                            <li class="navigation__list-item">
                                <a
                                    href="https://www.github.com/MarkusAleksander"
                                    class="navigation__link"
                                >
                                    <img
                                        class="navigation__content navigation__content--icon"
                                        src="<%= require('./assets/github_142.svg').default %>"
                                        width="20px"
                                    />
                                    <span
                                        class="navigation__content navigation__content--text"
                                        >Github</span
                                    >
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </body>
</html>
